<%= stylesheet_link_tag 'editor' %>
<%= javascript_include_tag 'editor' %>

Logged in as: <%= current_user.email %>
<%= link_to 'Log out', destroy_session_path(:user), method: :delete %>
<section id="home-section-1">
  <div class="row">
    <div class="col col-lg-2 offset-lg-5 text-center">
      <button class="btn btn-primary btn-lg"> Create new game! </button>
    </div>
  </div>

  <!-- TODO: only show the existing games section if user has some games -->
  <div class="row">
    <div class="col text-center">
      <h2> Or, edit one of your existing games: </h2>
    </div>
  </div>
  <div class="container">
    <div class="bg-light" id="games-list">
      <div class="row no-gutters">
        
      </div>
    </div>
  </div>
</section>