@import 'main';

#controls, #display {
  height: 100vh;
}

#controls {
  padding: 10px;
}

#editor-container {
  padding: 0;
}

#play-game {
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#editor-toolbar, #play-toolbar {
  background-color: $light;
  position: fixed;
  right: -5px;
  bottom: -5px;

  height: 10vh;

  border-radius: $radius;

  padding: 16px;
}

#editor-toolbar {
  width: 300px;
}

#play-toolbar {
  width: 150px;
}

.menu-btn {
  @extend .btn;
  @extend .btn-primary;
  @extend .w-100;
  margin-bottom: 10px;
}


